<section class="block-magazine__articles">
    <h3 class="bdcc-title-small --margin-xs">ÚLTIMOS ARTÍCULOS DE BDCC MAGAZINE</h3>
    <ul>
        <li>
            <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                <div class="image">
                    <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                </div>
                <div class="text">
                    <div class="title"><%= lorem.words 5 %></div>
                    <p><%= lorem.sentence %></p>
                </div>
            </a>
        </li>

        <li>
            <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                <div class="image">
                    <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                </div>
                <div class="text">
                    <div class="title"><%= lorem.words 5 %></div>
                    <p><%= lorem.sentence %></p>
                </div>
            </a>
        </li>

        <li>
            <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                <div class="image">
                    <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                </div>
                <div class="text">
                    <div class="title"><%= lorem.words 5 %></div>
                    <p><%= lorem.sentence %></p>
                </div>
            </a>
        </li>

    </ul>

    <a class="link-button --arrow-in --font-xs" href="magazine.html" target="_self">
        DESCUBRE + ARTÍCULOS DEL BDCC MAGAZINE
    </a>
</section>