<section class="block-magazine__news">
    <h3 class="bdcc-title-small --margin-xs">ÚLTIMOS NOTICIAS DE BDCC</h3>
    <ul>
        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>

        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>

        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>

        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>

        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>

        <li>
            <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                <%= lorem.sentence %><span class="arrows"></span>
            </a>
        </li>
    </ul>

    <a class="link-button --arrow-in --font-xs" href="news.html" target="_self">
        Ver todas las noticias
    </a>
</section>