<header class="header-double-title" data-header-mod="--default">
    <svg viewBox="0 0 1440 <%= height %>" aria-hidden="true">
        <use xlink:href="./images/svg/ac78-svg.svg#<%= svg %>"></use>
    </svg>
    <h1 class="bdcc-title-small --right --bold --width-fixed"><%= title %></h1>
    <!-- <%= partial "components/titles-oval/title-oval--choose-option" %> -->
    <div class="summary">
        <p><%= summary %></p>
    </div>
</header>