<section class="section-faq" scroll-item>
    <h2 class="title">FAQ</h2>

    <ul class="ul-faq __disabled">
        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle>Cómo tallan las camisetas?</button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>


        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle><%= lorem.words 5 %></button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>

        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle><%= lorem.words 5 %></button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>

        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle><%= lorem.words 5 %></button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>

        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle><%= lorem.words 5 %></button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>

        <li class="ul-faq__item">
            <article class="details" data-acordion>
                <button class="summary" data-acordion-toogle><%= lorem.words 5 %></button>
                <div class="content" data-acordion-group><%= lorem.paragraphs 2 %></div>
            </article>
        </li>
    </ul>
</section>