<div id="Sidemenu" aria-expanded="false">
    <div class="sidemenu__bg"></div>
    <div class="sidemenu__content">
        <div class="sidemenu__logo" aria-hidden="true">
            <svg viewBox="0 0 925 261">
                <use xlink:href="./images/svg/ac78-svg.svg#logo-basquedcc-horizontal"></use>
            </svg>
        </div>
        <nav class="sidemenu__nav">
            <ul>
                <li>
                    <a class="" href="conoce-bdcc.html" target="_self">
                        <span><%= t(:menu1) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="iccs-en-euskadi.html" target="_self">
                        <span><%= t(:menu2) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="magazine.html" target="_self">
                        <span><%= t(:menu4) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="news.html" target="_self">
                        <span><%= t(:menu5) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="tools.html" target="_self">
                        <span><%= t(:menu6) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="ayudas.html" target="_self">
                        <span><%= t(:menu7) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="orientacion.html" target="_self">
                        <span><%= t(:menu8) %></span>
                    </a>
                </li>
                <li>
                    <a class="" href="#" target="_self">
                        <span><%= t(:menu9) %></span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="sidemenu__search">
            <form class="sidemenu__form">
                <label for="input_search"><%= t(:buscar) %></label>
                <input type="text" id="input_search" name="search" placeholder=""/>
                <button type="submit">→</button>
            </form>
        </div>
        <div class="sidemenu__info">
            <p><%= t(:dcnetwork_info) %></p>
        </div>
    </div>
</div>