<div id="Sidemenu">
    <nav class="sidemenu__nav">

        <svg class="logo-euskadi-eus" viewBox="0 0 925 261" aria-label="BDCC">
            <use xlink:href="./images/svg/ac78-svg.svg#logo-basquedcc-horizontal"></use>
        </svg>

        <ul>
            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu1) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu2) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu3) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu4) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu5) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu6) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu7) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu8) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu9) %></span>
                </a>
            </li>

            <li>
                <a class="" href="#" target="_self">
                    <span><%= t(:menu10) %></span>
                </a>
            </li>

        </ul>

    </nav>

    <div class="sidemenu__right">
        <form class="sidemenu__form">
            <label for="input_search"><%= t(:buscar) %></label>
            <input type="text" id="input_search" name="search" placeholder=""/>
            <button type="submit">→</button>
        </form>

        <div class="sidemenu__info">
            <p><%= t(:dcnetwork_info) %></p>
        </div>
    </div>
</div>