<section class="section-orientation">
    <div class="bdcc-title-small --bold category"><%= t(:orientation) %></div>
    <%= partial "components/titles-oval/title-oval--take-a-look" %>
    <div class="holder">
        <h2 class="title"><%= t(:orientation_title) %></h2>
        <p><%= t(:orientation_text1) %></p>
        <p><%= t(:orientation_text2) %></p>
        <a class="link-button --arrow-in --font-xs" href="#joinus" target="_self">
            <%= t(:orientation_button) %>
        </a>
    </div>
</section>