---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page __page wrap">
    <header class="header-backside-title" data-header-mod="--default">
        <svg viewBox="0 0 1440 350" aria-hidden="true">
            <use xlink:href="./images/svg/ac78-svg.svg#titles__mgz"></use>
        </svg>
        <h1 class="bdcc-title-small --right --bold --width-fixed">MAGAZINE DE BASQUE DCC</h1>
    </header>

    <section class="block-magazine-articles">
        <ul>
            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>

            <li>
                <a class="block-magazine__articles__link" href="magazine-detail.html" target="_self">
                    <div class="image">
                        <img alt="" width="1200" height="400" src="https://picsum.photos/1200/400">
                    </div>
                    <div class="text">
                        <div class="title"><%= lorem.words 5 %></div>
                        <p><%= lorem.sentence %></p>
                    </div>
                </a>
            </li>
        </ul>

        <nav class="block-simple-paginator">
            <a class="link-button --text-center" href="news.html">
                Más antiguas
            </a>

            <a class="link-button --text-center" href="news.html">
                Más antiguas
            </a>
        </nav>
    </section>
</article>