---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page __page wrap">
    <%= partial "components/header_double_title__h1", locals: {
    title: "NOTICIAS DE BASQUE DCC",
    summary: "",
    svg: "titles__news",
    height: "350"
    } %>

    <section class="block-news">
        <ul>
            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>

            <li>
                <a href="<%= @cdn_url %>/news-detail.html" target="_self">
                    <h2 class="title"><%= lorem.sentence %></h2>
                    <p class="summary"><%= lorem.sentence %></p>
                </a>
            </li>
        </ul>

        <nav>
            <a class="link-button --text-center" href="news.html">
                Más antiguas
            </a>

            <a class="link-button --text-center" href="news.html">
                Más antiguas
            </a>
        </nav>
    </section>
</article>