---
title: BDCC
description: BDCC
url_root: http://www.bdcc.com
url: http://www.bdcc.com
---

<article id="Page" class="page page-tools __page wrap" data-page="tools" data-bg="--grey-bdcc">
    <%= partial "components/header_double_title", locals: {
    title: "SERVICIOS Y HERRAMIENTAS DE APOYO",
    summary: "La guía completa para las personas creativas. Información práctica que necesitas saber, o buscar rápidamente con herramientas útiles para comenzar. ¡Elige tu opción!",
    svg: "titles__tool",
    height: "340"
    } %>

    <nav class="nav-tools">
        <%= partial "components/titles-oval/title-oval--choose-option" %>

        <div class="controls" aria-controls="BlockTools">
            <button class="__prev" aria-label="Anterior cantegoria" cursor-follow data-power=".2">←</button>
            <button class="__next" aria-label="Siguiente categoria" cursor-follow data-power=".2">→</button>
        </div>

        <div class="ul-holder __holder">
            <ul class="__ul" aria-label="Herramientas">
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools.html", alt: "Todas", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-entorno.html", alt: "Entorno", active: true } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-marketing.html", alt: "Marketing", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-modelo-de-negocio.html", alt: "Modelo de negocio", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-evolucion-empresa.html", alt: "Evolución empresa", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-administracion-y-finanzas.html", alt: "Admn. & Finanzas", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-propiedad-intelectual.html", alt: "Propiedad Intelectual", active: false  } %>
                </li>
                <li>
                    <%= partial "components/home/_tools__button", locals: { url:"tools-internacionalizacion.html", alt: "Internacionalización", active: false  } %>
                </li>
            </ul>
        </div>
    </nav>

    <div class="block-tools-holder __toolsHolder" role="region" id="BlockTools" aria-live="polite">
        <div class="block-tools __tools --with-details" data-header-mod="--white-all">
            <svg class="title-svg-deco" viewBox="0 0 1440 340" aria-label="Tools">
                <use xlink:href="./images/svg/ac78-svg.svg#titles__tool"></use>
            </svg>

            <!--- TEXTO CATEGORIA -->
            <div class="card-tool-category __card" id="maincontent">
                <div class="icon">
                    <svg viewBox="0 0 200 200" aria-hidden="true">
                        <use xlink:href="./images/svg/tools/tools.svg#icon_entorno"></use>
                    </svg>
                </div>

                <h1 class="category">Servicios y herramientas de apoyo:</span> Entorno</h1>
                <h2 class="title"><%= lorem.sentence %></h2>
                <div class="content">
                    <div class="left">
                        <p><%= lorem.paragraph %></p>
                        <p><%= lorem.paragraph %></p>
                    </div>

                    <div class="right">
                        <p><%= lorem.sentence %>:</p>
                        <ul>
                            <li><%= lorem.sentence %></li>
                            <li><%= lorem.sentence %></li>
                            <li><%= lorem.sentence %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--- END TEXTO CATEGORIA -->

            <ul class="block-tools__ul">
                <li>
                    <%= partial "components/_card_tool_entorno", locals: {
                    title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
                    aux: "TOOL 01 / 01",
                    url: "tool-detail.html",
                    } %>
                </li>
            </ul>
        </div>
    </div>
</article>
